.initialpage{
    display: flex;
    height: 100vh;
   
    justify-content: center;
    font-size: 3rem;
        background-image: url('../../images/wp2478210-idea-wallpapers.png');
        background-position: center;
        background-size:cover;
        background-repeat: repeat;
        color: #fff;
        font-size: 50px;
        
}
.nav-links{
  /* display: flex; */
  font-size:x-large;
  font-family: cursive;
  color: rgb(231, 172, 172)
}
.nav{
  display: flex;
  margin-top: 50%;
  margin-left:20%;
}

.initialpage > h4{
     padding-top: 5%; 
     font-weight: lighter;
    font-family: cursive;
    position: relative;
    animation-name:dash;
    animation-duration: 4s;     
}
@keyframes example {
   0%,
    50% {
      stroke-dashoffset: 100%;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  