.initialpage{
    display: flex;
    height: 90vh;
   
    justify-content: center;
    font-size: 3rem;
        background-image: url('../../images/wp2478210-idea-wallpapers.png');
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
        color: #fff;
        font-size: 50px;
        
}
.initialpage__body{
     padding-top: 5%; 
     font-weight: lighter;
    font-family: cursive;     
}