.wrapper-search{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 1rem;
margin: 1rem;
}
@media (max-width: 960px){
 
    .wrapper-search{
      display:grid;
      grid-template-columns:repeat(1,1fr);
      grid-gap: 1rem;
      grid-auto-rows: min-content(200px auto);
    }
    
    
  }