.wrapper-home{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:1rem;
  margin:2rem
}
.home-link{
  display: flex;
  grid-template-columns:99% 1%;
  grid-gap:1rem;
  margin:1rem;
  
 justify-content: center;
}
.home-link-sub{
  display: flex;
  grid-template-columns:99% 1%;
  grid-gap:1rem;
  margin:1rem;
  
 justify-content: center;
}
.link-home{
  color:white;
  font-family: "lucidSans";
  font-size: 40px;
  /* font-family: cursive; */
}
.link-home:hover{
text-decoration: none;
color:white;
}

@media (max-width: 1280px){
 
  .wrapper-home{
    display: grid;
   
    grid-gap:1rem;
    margin:1rem
  }
}
