.homepage__card{
    display: flex;
  flex-direction: column;
  font-family: cursive;
  justify-content: start;
  width: 800px;
  /* min-height: 500px; */
  font-size: medium;

/* align-items: justify; */
margin: 128px auto;
border-radius: 10px;
padding-bottom: 32px;
align-self: flex-end;
margin-top: 4%;
padding-left: 3%;
padding-top: 2%;
text-align: left;

 
}
.homepage__card__body{ 
 
  font-family: cursive;
  font-size: x-large;
  align-self: center; 
 margin-left: -55%;
 color: rgb(97, 96, 96);
}
.homepage__card__header{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-right: solid lightgray;
  background-color: rgb(243, 220, 220);
  margin-top: -3.5%;
  margin-left: -5.5%;
  margin-right: -0.5%;
  justify-items: center;
}
.homepage__card__header__avatar{
  align-self: center;
  margin-left: 2%;
}
.homepage__card__headerRight{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.homepage__card__headerRight > .MuiSvgIcon-root{
  margin-right: 2vw;
  font-size: 24px !important;
}
.card_body{
   margin:3%;
   /* margin-top: 70%; */
   margin-left: -2%;
  
}
.chat__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}
.chat__footer > form{
  flex: 1;
  display: flex;
}
.chat__footer > form >input{
  flex: 1;
  outline-width: 0;
  border-radius: 30px;
  padding: 10px;
  border:none
}
.chat__footer > form > button{
  display: none;
}
.chat__footer > .MuiSvgIcon-root{
  padding: 10px;
  color: gray;
}
.post{
  margin-top: 2%;
  color: rgb(97, 96, 96);
  font-size: large;
}
