.homepage__card{
    display: flex;
  flex-direction: column;
  font-family: cursive;
  justify-content: start;
  width: 800px;
  /* min-height: 500px; */
  font-size: medium;

/* align-items: justify; */
margin: 128px auto;
border-radius: 10px;
padding-bottom: 32px;
align-self: flex-end;
margin-top: 4%;
padding-left: 3%;
padding-top: 2%;
text-align: left;

 
}
.delete-icon{
  margin-left:90%;
 margin-top:-5%

}
.card{
  border-radius: 20px;
  padding-left:5% ;
  padding-top: 2%;

}
.card >h4{
  font-family: cursive;
  color: gray;
}
 .nav-links {
    color:whitesmoke;
    
    text-decoration: whitesmoke;
    padding: 0.5rem 1rem;
  }
  .nav-links:link{
    color:white;
  }
  .nav-links:hover {
    background-color: transparent;
    /* color:white; */
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  .image{
    width: 50%;
    display: flex;

  }
.reply{
  padding-left:5% ;
  padding-top: 2%;
}
.reply >h4{
  font-family: cursive;
  color: gray;
}
.homepage__card__body{ 
 
  font-family: cursive;
  font-size: x-large;
  align-self: center; 
 margin-left: -50%;
 color: rgb(97, 96, 96);
}
.homepage__card__header{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-right: solid lightgray;
  background-color: rgb(243, 220, 220);
  margin-top: -3.5%;
  margin-left: -5.5%;
  margin-right: -0.5%;
  justify-items: center;
}
.homepage__card__header__avatar{
  align-self: center;
  margin-left: 2%;
}
.homepage__card__headerRight{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;

}
.comments{
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 39px;
  padding: 10px;
}
.commentspost{
  display: flex;
  align-items: center;
  background-color: rgb(243, 220, 220);
  /* width: 100%; */
  height: 35px;
  border-radius: 20px;
  margin-left: 25%;
  margin-top: -13%;
}
.commentspost > .MuiSvgIcon-root{
  color: rgb(139, 138, 138);
  align-self: flex-end;

}
.commentspost > input{
  border: none;
  outline-width: 0;
  margin-left: 10px;
  background-color: transparent;
  color: gray;;
}
.upvote{
  color: rgb(243, 220, 220);
}

.homepage__card__headerRight > .MuiSvgIcon-root{
  margin-right: 2vw;
  font-size: 24px !important;
}
.card_body{
   margin:3%;
   /* margin-top: 70%; */
   margin-left: -2%;
   flex-direction: row;
  
}
.category{
  font-size: small;
  padding-left:2%;
  margin-left: -2%;  
}
.chat__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}
.chat__footer > form{
  flex: 1;
  display: flex;
}
.chat__footer > form >input{
  flex: 1;
  outline-width: 0;
  border-radius: 30px;
  padding: 10px;
  border:none
}
.chat__footer > form > button{
  display: none;
}
.chat__footer > .MuiSvgIcon-root{
  padding: 10px;
  color: gray;
}
.post{
  margin-top: 2%;
  color: rgb(97, 96, 96);
  font-size: medium;
}
.text{
  font-family: cursive;
  /* margin-right: 73%; */
  text-overflow: inherit;
    white-space: normal;
   word-wrap: break-word;
}