* {
    box-sizing: border-box;
  
  }
  
  .boddy{
    display:flex;
    flex-direction: row;
  }
  .header{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: left;
   
  }