* {
    box-sizing: border-box;
  
  }
  
  .boddy{
    display:flex;
    flex-direction: row;
  }
  .header{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: left;
   
  }
  .more{
    display:flex;
  
  }
  ::-webkit-scrollbar {
    width: 10px;
  margin-top: 1rem;
  background:transparent;
 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
   border-radius:50px;
    background:transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:transparent;
    border-radius:20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
  
  @media (max-width: 960px){
 
    .boddy{
      display:flex;
      flex-direction: column;
    }
    
    
  }