*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

.user-signup{
  display: flex;
  height: 90.9vh;
  background:transparent;
  flex-direction: row;
 
}
.inner-reg{
  display: flex;
  flex-direction: column;
  justify-content:stretch;
  /* border-style:dashed; */
  /* align-content: flex-end; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 50rem;
  margin-top: 5rem;
  width:500px;
  height: fit-content;
}
