*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}
.user-signup{
    display: flex;
   
    background-image: url('../../images/wp2478210-idea-wallpapers.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.user-signup-card{
    display: flex;
    flex-direction: column;
    font-family: cursive;
    justify-content: start;
    width: 500px;
    min-height: 500px;
    background: linear-gradient(90deg, rgb(231, 172, 172) 0%, rgb(165, 163, 163) 100%); 
 
  /* align-items: justify; */
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  align-self: flex-end;
  margin-top: 4%;
  padding-left: 3%;
  padding-top: 2%;
  text-align: left;
  
}
.user-signup-card-input{
    padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(109, 105, 105);
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  flex-direction:row;
  align-self: center;
}
.user-signup-cardAction{
font-family: cursive;
}
.user-signup-card-button{
    padding: 16px;
  border:thick white;
  border-radius: 0 4px 4px 0 ;
  cursor: pointer;
  outline: none;
  background:  linear-gradient(22deg, rgb(189, 186, 186) 0%, rgb(131, 130, 130) 100%);
  color: #fff;
  box-sizing:border-box;
  width: 120px;
  text-transform: capitalize;
   align-self: center;
}