.links {
    color: #757594;
    text-decoration: none;
    /* padding: 0.5rem 1rem; */
  }
  
  .links:hover {
    background-color: transparent;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  .box {
    width: 18px;
    height: auto;
    
    color: #fff;
    padding: 20px;
    position: relative;
    margin: 40px;
  }
  