.user{
  width:350px;
  /* height: 600px; */
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 16%);
  position: fixed;
  top: 6em;;
  z-index:1;
  background-color:#5AA8F1;
  border-radius: 20px;
  display: flex;
}
.user_inner{
  width:330px;
  /* height: 580px; */
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 16%);
  margin:auto;
  margin-top: .5rem;
  background-color:whitesmoke;
  border-radius: 20px;
}
.user_inner_details{display: flex; flex-direction: column;}
.user_inner_details_avatars{justify-content:space-evenly ;font-size: large;margin:.5rem}
.upperPart{
  font-size: large;
  font-family: cursive;
  color:rgb(12, 11, 11);
  background-color: whitesmoke;
  border-radius: 20px;
  height:260px;
 padding-top: 6%;
}
.inner{
 align-items: center;
 box-shadow: -1px 4px 20px -6px rgba(0, 0,0,0.75);
 border-radius: 20px;
 align-self: center;
 background-color:white ;
 width:290px;
 margin-right: 13%;
height: 200px;
margin-left: 13.5%;
padding: 3%;
}
.upper{
  margin-top: -0.9%;
  /* background-color: rgb(53, 52, 50); */
  /* border-radius: 20px; */
}