.showcase {
  
  /* height: 400px; */
}
.wrapper-Acc{
  display: grid;
  grid-template-columns:30% 20% 40%;
  grid-gap:1rem;
  background: rgba(0, 0,0,0.03);
  margin:2rem;
  border-radius: 20px;
}
.showcase .showcase-overlay {
  /* background-color: rgba(172, 110, 110, 0.4); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 400px; */
  text-align: center;
  color: #fff;
}

.showcase .showcase-overlay h1 {
  font-size: 36px;
  padding-bottom: 20px;
}
.wrapper-account{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:1rem;
 
  margin:1rem
}