*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

.user-login{
  display: flex;
  height: 90.9vh;
  
}
.user-login-cardf{
  display: flex;
  flex-direction: row;
  flex-direction: column;
  font-family: cursive;
  justify-content: start;
  width: 370px;
  /* min-height: 400px; */
  background-color:lightgrey; 
 margin-bottom: 10%;
margin-left: 5%;
border-radius: 10px;
padding-bottom: 32px;
align-self: flex-end;

padding-left: 3%;
padding-top: 2%;
text-align: left;

}
.user-login-card{
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  font-family: cursive;
  justify-content: start;
  min-width: 370px;
  /* min-height: 400px; */
  /* background-color:whitesmoke;  */
 margin-bottom: 120px;
margin-left: 5%;
border-radius: 10px;
padding-bottom: 32px;
align-self: center;
box-shadow:  0 0 0.5rem rgb(0 0 0 / 16%);
padding-left: 3%;
padding-top: 2%;
text-align: left;

}
.button{
  align-self: center;
}
.user-login-card-input{
  padding: 14px 32px 14px 16px;
border-radius: 4px 0 0 4px;
border: 2px solid rgb(109, 105, 105);
outline: none;
/* width: 320px; */
background: transparent;
color: #fff;
flex-direction:row;
align-self: center;
}
.user-login-cardAction{
font-family: cursive;
color:whitesmoke;
background:  linear-gradient(270deg, #00BAFF 0%, #004DFF 100%) 0% 0% no-repeat padding-box;;
margin-left: -9%;
margin-top: -9%;
border-radius: 10px;
height: 10vh;
text-align: center;
/* text-align: justify; */
padding-top: 4%;
}
.user-login-card-button{
  padding: 16px;
   border-radius: 20px;
border:thick white;
border-radius: 0 4px 4px 0 ;
cursor: pointer;
outline: none;
background: linear-gradient(270deg, #00BAFF 0%, #004DFF 100%) 0% 0% no-repeat padding-box;
color: #fff;
box-sizing:border-box;
width: 120px;
text-transform: capitalize;
 align-self: center;
 margin-top: 14%;
}
.buttonAlign{
  display: grid;
  align-self: center;
  margin-top: 5%;
}
.innerCard{
  align-items: center;
  box-shadow:  0 0 0.5rem rgb(0 0 0 / 16%);
  border-radius: 20px;
  align-self: center;
  background-color:white ;
  width:420px;
  /* min-height:300px; */
  margin-right: 13%;
  margin-top: 3%;
}
.innerCardf{
  align-items: center;
  box-shadow: -1px 4px 20px -6px rgba(0, 0,0,0.75);
  border-radius: 20px;
  align-self: center;
  background-color:transparent ;
  width:320px;
  /* min-height:300px; */
  margin-right: 13%;
  margin-top: 3%;
}
.nav-lin{
  display: flex;
  justify-content: center;
  color:#00BAFF;
  font-family: cursive;
  text-decoration: whitesmoke;
  
}
.nav-lin:hover{
  background-color: none;
  color:black;
  text-decoration: none;
  border-radius: 5px;
}
.align{
  display: flex;
  flex-direction: column;
  align-content:flex-end;
}